header.main-header
	a(href='/api/v1/admin').logo
		span.logo-mini
			<b>V. C</b>
		span.logo-lg
			<b>Video Center</b>
	nav(role='navigation').navbar.navbar-static-top
		a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		div.navbar-custom-menu
			ul.nav.navbar-nav
				li.dropdown.user.user-menu
					a(href='#',data-toggle='dropdown').dropdown-toggle
						img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').user-image
						span.hidden-xs
							| Alexander Pierce
					ul.dropdown-menu
						li.user-header
							img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
							p
								| Alexander Pierce
						li.user-footer
							//- .pull-left
							//- 	a(href='#').btn.btn-default.btn-flat
							//- 		| Profile
							.pull-right
								a(href='/logout').btn.btn-default.btn-flat
									| Sign out