aside.main-sidebar
	section.sidebar
		ul.sidebar-menu
			li
				a(href='/')
					i.fa.fa-youtube-play
					span
						| Video Lists
				
			li
				a(href='/advertise')
					i.fa.fa-adn
					span
						| Advertise Lists
					
			//- li
			//- 	a(href='/setting')
			//- 		i.fa.fa-cogs
			//- 		span
			//- 			| Setting
			